.hide {
    display: none;
}

body {
    background-image: url(index-images/enyicorp-web-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.all-buttons {
    background-color: transparent;
}

.logo {
    height: 300px;
    margin-bottom: 30px;
    border-radius: 100px;
    border: solid;
}

.organisations-icon {
    height: 51px;
}

.organisations-btn {
    height: 68px;
    background-color: rgba(241, 17, 170, 0.596);
    border-radius: 100px;
    margin-bottom: 30px;
    border-color: aliceblue;
    cursor: pointer;
    position: fixed;
    margin-top: 10px;
}

.contact-icon {
    height: 45px;
}

.contact-btn {
    height: 61px;
    background-color: rgba(126, 59, 104, 0.596);
    border-radius: 50px;
    margin-top: 90px;
    border-color: aliceblue;
    cursor: pointer;
    position: fixed;
}

.about-btn {
    background-color: transparent;
    border: none;
    margin-top: 165px;
    cursor: pointer;
}

.about-btn:focus {

box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.8); /* Change the color and size of the shadow */
border-radius: 50%; /* Make the outline round */
}

.whatsapp-icon {
    height: 103px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
}

.facebook-icon {
    height: 92px;
    background-color: transparent;
    border-radius: 140px;
    cursor: pointer;
    margin-bottom: 13px;
}

.instagram-icon {
    height: 93px;
    background-color: transparent;
    border-radius: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

.twitter-icon {
    height: 97px;
    background-color: transparent;
    border-radius: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

.linkedin-icon {
    height: 90px;
    background-color: transparent;
    border-radius: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

.youtube-icon {
    height: 100px;
    background-color: transparent;
    border-radius: 80px;
    cursor: pointer;
    margin-bottom: 40px;
}

div {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    margin-top: 0px;
}

.phonenumber {
    color: aliceblue;
    background-color: rgba(241, 17, 170, 0.8);
    font-size: 22px;
    cursor: pointer;
    border: solid;
    padding: 9px;
    padding-top: 13px;
    padding-bottom: 17px;
    text-decoration: none;
    border-radius: 14px;
}

.contact-section {
    margin-top: 0px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    border-radius: 30px;
    width: 120px;
    margin-left: 75px;
}

.business-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 45px;
}

.about-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 45px;
}

.enyi-ic {
    height: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.about-text {
    font-size: 12px;
}

/* Animation for button hover effect */
.btn-animation {
    transition: transform 0.3s ease-in-out;
}

.btn-animation:hover {
    transform: scale(1.1);
}

/* Animation for button click effect */
.btn-click-animation {
    transition: transform 0.1s ease-in-out;
}

.btn-click-animation:active {
    transform: scale(0.9);
}

/* Customize the focus outline */

button:focus {
outline: none;
}
button:focus {

box-shadow: 0 0 0 5px rgba(241, 17, 170, 0.8); /* Change the color and size of the shadow */
border-radius: 50%; /* Make the outline round */
}

button::-moz-focus-inner {
border: 0;
}
